.Footer {
}

// RESPONSIVE FOOTER
.Footer-inner .widget {
	@include span-columns(3);
	@media screen and(max-width: 800px){
		@include span-columns(12);
	}
}

.footer-upper {
	background: $base-secondaryBg;
	color: $font-paragraafTitel-color;
	padding: 20px 0;
	border-bottom: 2px solid white;
	position: relative;
	max-height: 100px;
} 

.footer-bottom{
	background: $base-primaryBg;
	color: $font-paragraafTitel-color;
	position: relative;

} 

.footer-inner {

}

.widget h4 {
		font-weight: bold;
		letter-spacing: 2px;
		font-size: 18px;
		text-transform: uppercase;
}

.widget p {
	letter-spacing: 2px;
	font-weight: 100;
	line-height: 24px;
}



.textwidget{
	.facebookwidget {
	background: white;
	position: absolute;
	top: -70px;
	}
}

.footer-bloginfo {
	font-size: 13px;
	font-weight: bold;
	width: 100%;
	margin-top: 32px;
	text-align: center;

	p {
		margin: 0;
	}
}

select option {
	color: black;
}